{% block info %}
				<div class="info__me">
					<p>
						I'm a passionate software developer with over 7 years experience developing applications 
					</p>
					<p>
						Worked in many projects including e-learning systems, e-commerce applications, internal CMS's and currently I'm proud of working in a big news/entertainment portal, <a class="link" href="https://www.globo.com">globo.com</a>
					</p>
					<p>
						I have strong experience working with Javascript on both backend and frontend sides, with NodeJs and React/Angular as framework
					</p>
					<p>
						You can contact me on <a class="link" href="mailto:gu.fpoletto@gmail.com">gu.fpoletto@gmail.com</a> or on the social networks below.
					</p>
				</div>
				<div class="info__social">
					<div class="social">
						<a href="https://www.linkedin.com/in/gustavo-poletto/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
					</div>
					<div class="social">
						<a href="https://github.com/gustavofp" target="_blank"><i class="fa-brands fa-github"></i></a>
					</div>
					<div class="social">
						<a href="https://twitter.com/gustavopoletto_" target="_blank"><i class="fa-brands fa-twitter"></i></a>
					</div>
				</div>
			 </div>
{%endblock%}