{% block maincontent %}
    <section class="main__content">
        <div class="content__name">
            <h1 class="name">> Gustavo Poletto<h1>
        </div>
        <div class="content__description">
            <p class="description">Hello, I'm Gustavo<p>
            <p class="description">Fullstack developer based in Valinhos, Brazil. Currently working at the largest news portal in Latin América, <a class="link" href="https://www.globo.com">globo.com</a><p>
            <p class="description">I love technology, and for me there isn't something exciting as a challenge<p>
        </div>
    </section>
{%endblock%}