{% block skills %}
<div class="skill">
 <div class="skill__kind">
    <h3 class="strong">Strong knowledge (working everyday for years)</h3>
 </div>
 <div class="skill__list">
    <div class="skill__card"><span>React</span></div>
    <div class="skill__card"><span>NodeJS</span></div>
    <div class="skill__card"><span>Express</span></div>
    <div class="skill__card"><span>Typescript</span></div>
    <div class="skill__card"><span>CSS</span></div>
    <div class="skill__card"><span>SASS</span></div>
    <div class="skill__card"><span>BEM</span></div>
    <div class="skill__card"><span>Docker</span></div>
    <div class="skill__card"><span>Git</span></div>
 </div>
</div>
<div class="skill">
 <div class="skill__kind">
    <h3 class="strong">Have worked with, didn't mastered (but can figure out easily)</h3>
 </div>
 <div class="skill__list">
    <div class="skill__card"><span>AWS</span></div>
    <div class="skill__card"><span>GCP</span></div>
    <div class="skill__card"><span>MySQL</span></div>
    <div class="skill__card"><span>MongoDB</span></div>
    <div class="skill__card"><span>AngularJS/4+</span></div>
    <div class="skill__card"><span>Docker Swarm</span></div>
    <div class="skill__card"><span>Redis</span></div>
 </div>
</div>
<div class="skill">
 <div class="skill__kind">
    <h3 class="strong">Basic knowledge (have studied or worked with for short period of time)</h3>
 </div>
 <div class="skill__list">
    <div class="skill__card"><span>Elixir/Phoenix</span></div>
    <div class="skill__card"><span>Kafka</span></div>
    <div class="skill__card"><span>ElasticSearch</span></div>
    <div class="skill__card"><span>Kubernetes</span></div>
    <div class="skill__card"><span>Java</span></div>
 </div>
</div>
{% endblock %}